* {
  font-family: InterLight;
}
.page1-cont {
  width: 32%;
  margin-left: 6%;
}

.meet {
  color: #5a5a5a;
  font-family: InterLight;
  font-size: 4.4vw;
  font-weight: 400;
}

.cont-1 {
  color: #fff;
  font-family: InterMedium;
}

.content-with-anime {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.content-with-anime::before {
  content: "";
  width: 100%;
  transform: translate(20%, -26%);
  animation: 2s GP_color_slide 1;
  position: absolute;
  top: 0;
}

._logoWithName_ctn2m_1{
  top: 0;
  margin-top: 20px;
  width: 95vw;
  margin: auto;
  max-width: 1440px;

  
}

.banner{

display: flex;
flex-direction: row;
color: #fff;
position: relative;
max-width: 1440px;
width: 80vw;
  .page1-cont{
    width: unset;

    h1{
      color: #5A5A5A;
        font-family: Inter;
        font-size: 59.147px;
        font-style: normal;
        font-weight: 400;
        line-height: 63.7px;
    }
    h2{
      color: #FFF;
        font-family: Inter;
        font-size: 70px;
        font-style: normal;
        font-weight: 700;
        line-height: 63.7px;
    }
    p{
      color: #FFF;
        font-family: Inter;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 63.7px;
    }

    

  }

  & > div:nth-child(2){
    position: absolute;
    width: 80vw;
    top: 50%;
    left: 50%;
    transform: translate(20%,-50%);
  }
}

.golden-anime-group {
  /* width: 100%;
        transform: translate(20%, -26%);
        animation: 2s GP_color_slide 1;
        position: absolute;
        top: 0; */
}

.device-screen-img {
  position: absolute;
  bottom: -2%;
  right: -15%;
  animation: 2s device_img_slide 1;
}

@keyframes GP_color_slide {
  0% {
    transform: translate(54%, -71%);
  }
  100% {
    transform: translate(20%, -26%);
  }
}

@keyframes device_img_slide {
  0% {
    transform: translate(80%, 0);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@media screen and (max-width: 1470px) {
  .device-screen-img {
    right: -16%;
  }
}

@media screen and (max-width: 600px) {
  .golden-anime-group {
    display: none;
  }
  .content-with-anime {
    /* margin-top: 14%; */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .page1-cont {
    min-width: 500px;
    max-height: 500px;
  }
}
