* {
  border: none;
}
.banner_section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  overflow: hidden;
  min-height: 600px;

  .logo {
    margin: auto;
    max-width: 1440px;
    width: calc(100% - (224px / 1440px * 100%));
  }
  .banner_Content {
    margin: auto;
    max-width: 1440px;
    width: calc(100% - (224px / 1440px * 100%));
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    isolation: isolate;
    .content {
      display: flex;
      flex-direction: column;
      color: #fff;
      gap: 20px;
      max-width: 550px;
      width: 100%;

      h1 {
        color: #5a5a5a;
        font-family: InterMedium;
        font-size: 4.5vw;
        font-style: normal;
        font-weight: 400;
        line-height: 107.698%;
      }

      h2 {
        color: #fff;
        font-family: InterBold;
        font-size: 5vw;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 91% */
      }
      p {
        margin: 1vw 0;
        color: #fff;
        font-family: InterMedium;
        font-size: 3vw;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
      }

      button {
        width: fit-content;
        background: linear-gradient(
          118deg,
          #bd7020 0%,
          #edce7c 55.21%,
          #a57033 100%
        );
        padding: 2vw 3.5vw;
        font-family: InterBold;
        font-size: 1.6vw;
        color: #fff;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.48px;
        border-radius: 110px;
      }

      @media (min-width: 1440px) {
        h1 {
          font-size: 59px;
        }
        h2 {
          font-size: 70px;
        }

        p {
          font-size: 50px;
        }
        button {
          padding: 15px 30px 15px 30px;
          font-size: 24px;
        }
      }
      @media (max-width: 992px) {
        h1 {
          font-size: 35px;
        }
        h2 {
          font-size: 45px;
        }

        p {
          font-size: 25px;
        }
        button {
          padding: 16px 32px;
          font-size: 18px;
        }
      }
    }
  }

  .banner_img {
    position: absolute;
    width: 90vw;
    z-index: -1;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    height: 100%;

    img {
      width: 100%;
      position: absolute;
      top: 44%;
      left: 50%;
      transform: translate(-50%, -50%);

      &.vector {
        width: 105%;
      }
      &.device {
        top: 27%;
        bottom: unset;
        transform: translate(-50%, -10%);
        width: 75%;
      }
    }

    @media (max-width: 1200px) {
      width: 85%;

      img {
        &.vector {
          width: 150%;
          top: 50%;
          left: 62%;
        }
        &.device {
          width: 85%;
          bottom: unset;
          top: 50%;
          transform: translate(-47%, -40%);
        }
      }
    }

    @media (max-width: 800px) {
      img {
        &.vector {
          left: 68%;
        }
        &.device {
          width: 85%;
          bottom: unset;
          top: 50%;
          transform: translate(-42%, -35%);
        }
      }
    }
  }

  @media (max-width: 600px) {
    gap: 40px;
    height: fit-content;
    .banner_img {
      transform: unset;
      left: 0;
      top: 0;
      height: 450px;
      position: relative;
      margin: auto;
      img {
        &.vector {
          width: 240%;
        }
        &.device {
          width: 113%;
          left: 60%;
          transform: translate(-59%, -50%);
        }
      }
    }
  }
}

.about_section {
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 35px;

  h1 {
    color: #5a5a5a;
    font-family: InterMedium;
    font-size: 4.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 107.698%;
  }

  h2 {
    color: #fff;
    font-family: InterBold;
    font-size: 5vw;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 91% */
  }

  p {
    margin: 1vw 0;
    color: #5a5a5a;
    font-family: InterMedium;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
  }
}

.download_section {
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  h1 {
    color: #5a5a5a;
    font-family: InterMedium;
    font-size: 4.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 107.698%;
  }
}

.features_section {
  color: #fff;

  .feature_cotent {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }

  h2 {
    color: #fff;
    font-family: InterBold;
    font-size: 5vw;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 91% */
  }

  p {
    margin: 1vw 0;
    color: #5a5a5a;
    font-family: InterMedium;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
  }
}

.subscribe_section {
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  h2 {
    color: #fff;
    font-family: InterBold;
    font-size: 5vw;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 91% */
  }

  button {
    width: fit-content;
    background: linear-gradient(
      118deg,
      #bd7020 0%,
      #edce7c 55.21%,
      #a57033 100%
    );
    padding: 2vw 3.5vw;
    font-family: InterBold;
    font-size: 1.6vw;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.48px;
    border-radius: 110px;
  }
}

.footer {
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
