.custom-btn {
    width: 18vw;
    color: #FFFFFF;
    font-family: InterMedium;
    border-radius: 35px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 3% 0 3% 0;
    position: relative;
    display: inline-block;
    background: linear-gradient(90deg,
            #BD7020 0%,
            #EDCE7C 55.21%,
            #A57033 100%);
    overflow: hidden;
}

.shade-me:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}

.shade-me:hover {
    text-decoration: none;
    opacity: .9;
}


@keyframes shiny-btn1 {
    0% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0;
    }

    80% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0.5;
    }

    81% {
        -webkit-transform: scale(4) rotate(45deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(50) rotate(45deg);
        opacity: 0;
    }
}