.frame {
    background: linear-gradient(180deg,
            rgb(189.13, 111.62, 32.31) 0%,
            rgb(236.94, 206.46, 124.39) 55.21%,
            rgb(165, 112, 51) 100%);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 110px;
    height: 53px;
    width: 200px;
}

.frame .text-wrapper {
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 18px;
    font-weight: 600;
    left: 41px;
    letter-spacing: -0.36px;
    line-height: normal;
    position: absolute;
    top: 15px;
}